<%- include("partials/header") -%> 

<main>
	<h1 class="center" >Home</h1>
	<section class="main container valign-wrapper row">
	  	<div class="col s3 hide-on-med-and-down">
			<% if (randomPosts.length > 3) { %>

			<div class="card small">
				
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" loading="lazy"  src="<%= randomPosts[0].image %>" >
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4"><%=randomPosts[0].recipeName%><i class="material-icons right">more_vert</i></span>
				  <p><a href="/post/<%= randomPosts[0]._id  %> ">Click me to cook me!</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
				  <p><%= randomPosts[0].description %> </p>
				  <p>Likes: <%= randomPosts[0].likes %> </p>				
				</div>
			</div>
			  
			<div class="card small">
				
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" loading="lazy"  src="<%= randomPosts[1].image %>" >
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4"><%=randomPosts[1].recipeName%><i class="material-icons right">more_vert</i></span>
				  <p><a href="/post/<%= randomPosts[1]._id  %> ">Click me to cook me!</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
				  <p><%= randomPosts[1].description %> </p>
				  <p>Likes: <%= randomPosts[1].likes %> </p>				
				</div>
			  
			</div>
			<% } %> 
		</div>

		
		<div class="col s12 m12 l6">
		  <div class="card medium">
			<div class="card-image waves-effect waves-block waves-light">
			  <img class=" responsive-img materialboxed"  loading="lazy" src="<%= posts[0].image %> " >
			</div>
			<div class="card-content">
			  <span class="card-title activator grey-text text-darken-4"><%= posts[0].recipeName %> <i class="material-icons right">more_vert</i></span>
			  <p><a href="/post/<%= posts[0]._id %> ">Click me to cook me!</a></p>
			</div>
			<div class="card-reveal">
			  <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
			  <p><%= posts[0].description %> </p>
			  <p>Likes: <%=posts[0].likes %> </p>
			</div>
		  </div>
		</div>
   
	
	 
	
		
		<div class="col s3 hide-on-med-and-down">
			<% if (randomPosts.length > 3) { %>
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="materialboxed responsive-img" loading="lazy"  src="<%= randomPosts[2].image %>" >
					</div>
					<div class="card-content">
				  		<span class="card-title activator grey-text text-darken-4"><%=randomPosts[2].recipeName%><i class="material-icons right">more_vert</i></span>
			  			<p><a href="/post/<%= randomPosts[2]._id  %>">Click me to cook me!</a></p>
					</div>	
					<div class="card-reveal">
				  		<span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
						<p><%= randomPosts[2].description %> </p>
						<p>Likes: <%= randomPosts[2].likes %> </p>			
					</div>

			</div>
				
			<div class="card small">	
					
				<div class="card-image waves-effect waves-block waves-light">
			  		<img class="materialboxed responsive-img" loading="lazy"  src="<%= randomPosts[3].image %>" >
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><%=randomPosts[3].recipeName%><i class="material-icons right">more_vert</i></span>
				  	<p><a href="/post/<%= randomPosts[3]._id  %>">Click me to cook me!</a></p>
				</div>
				<div class="card-reveal">
				  	<span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
					<p><%= randomPosts[3].description %> </p>
					<p>Likes: <%= randomPosts[3].likes %> </p>	
				</div>	
			</div>
			<% } %> 
		</div>
	</section>

	<span style="display: none;" id="homePage"></span>

</main>
			  <!-- <div class="card small col offset-half s3 ">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activator" src="https://via.placeholder.com/300" >
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">This is a link</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			  </div> -->
<div class="container">	<div class="divider black"></div></div>

<section class="sub-recipes">

	<div class="container row">
		<% for( let i = 1; i < posts.length; i++ ) { %>
			<% if (i%2 !== 0) { %>
			  <div class="card medium  col left m5 s12">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" loading="lazy" src="<%=posts[i].image%> " >
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4"><%=posts[i].recipeName%> <i class="material-icons right">more_vert</i></span>
				  <p><a href="/post/<%=posts[i]._id%> ">Click me to cook me!</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
				  <p><%= posts[i].description %> </p>
				  <p>Likes: <%= posts[i].likes %> </p>
				</div>
			  </div>	  
			<% } else {%>
			  <div class="card medium sub col offset-m2 m5 s12">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="materialboxed responsive-img" loading="lazy"  src="<%=posts[i].image%> " >
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4"><%=posts[i].recipeName%> <i class="material-icons right">more_vert</i></span>
				  <p><a href="/post/<%=posts[i]._id%> ">Click me to cook me!</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
				  <p><%=posts[i].description%> </p>
				  <p>Likes: <%=posts[i].likes %> </p>
				</div>
			  </div>
			<% } %> 
		  <% } %>
  
	</div>
</section>



<%- include("partials/footer") -%> 