<%- include("partials/header") %> 


<main class="">
    <section class="post-page main">
      <div class="container">
        <div class="col s12 hide-on-med-and-down">
          <h2 class="header"><%= post.recipeName %> </h2>
          <div class="card horizontal">
            <div class="card-image">
              <img class="responsive-img" src="<%= post.image %> ">
            </div>
            <div class="card-stacked">
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a href="#details">Details</a></li>
                  <li class="tab"><a href="#ingredients">Ingredients</a></li>
                  <li class="tab"><a href="#directions">Directions</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="details">
                  <h4 class="flow-text">Created By: <%= post.userName %> </h4>
                  <br>
                  <h4 class="flow-text">Likes: <%= post.likes %> </h4>
                  <br>
                  <h4 class="flow-text">Tag: <%= post.recipeCategory %> </h4>
                  <br>
                  <h4 class="flow-text">Description: <%= post.description %> </h4>
                  <br>
                  <!-- <h4 class="flow-text">Rating: </h4> -->
                </div>
                <div id="ingredients">
                  <ul class="padding-shift">
                    <%for (let i = 0; i < post.recipeIngredients.length; i++) { %>   
                      <li class="ingredient-list"> <h6><%=post.recipeIngredients[i]%></h6></li>
                    <% } %> 
                  </ul>
                </div>
                <div id="directions">
                  <ol>
                    <% for( let i = 0; i < post.recipeDirections.length; i++ ) { %>
                      <li> <h6><%= post.recipeDirections[i] %></h6> </li>
                    <% } %>
                  </ol>
                </div>
              </div>
              <!-- <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div> -->
              <div class="card-action row" style="margin-bottom: 0%;">
                <% if (user) { %>
                  <% if (post.likedUsers.includes(user._id)) { %>
                    <div class="col  l2 m2 s3">
                      <form class="" action="/post/unlikePost/<%= post._id %>?_method=PUT" method="POST">
                        <button class="btn" style="color: red;" type="submit">  <i class="small material-icons ">favorite</i></button>                
                      </form>
                    </div>
                  <% } else { %>
                    <div class="col  l2 m2 s3">
                      <form class="" action="/post/likePost/<%= post._id %>?_method=PUT" method="POST">
                        <button class="btn" type="submit">  <i class="small material-icons">favorite</i></button>                
                      </form>
                    </div>
                  <% } %>
                 
   
                  <%if(post.user == user.id){ %>
                    <div class="col  l2 m2 s2">
                      <form action="/post/deletePost/<%= post._id %>?_method=DELETE" method="POST" class="">
                        <button class="btn" type="submit"><i class="small material-icons">delete</i></button>
                      </form>
                    </div>
                    <div class="col  l2 m2 s2">
                      <button type="" class="btn"><a href="/post/edit/<%= post._id %>" style="margin-right:0%;"><i class="small material-icons">create</i></a></button>
                    </div>
              
                  <%}%>
                <% } %>

              </div>
            </div>
        </div>
      </div>


      <div class="col s12 m12 show-on-medium-and-down hide-on-large-only">
        <div class="card  medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class=" responsive-img materialboxed" src="<%= post.image %> ">
          </div>
          <div class="card-content">
            <h5 class="card-title activator grey-text text-darken-4"> <%= post.recipeName %><i class="material-icons right">more_vert</i></h5>
            
            <div class="card-action row" >
              <% if (user) { %>
                <% if (post.likedUsers.includes(user._id)) { %>
                  <div class="col  l2 m2 s3">
                    <form class="" action="/post/unlikePost/<%= post._id %>?_method=PUT" method="POST">
                      <button class="btn" type="submit">  <i class="small material-icons red">favorite</i></button>                
                    </form>
                  </div>
                <% } else { %>
                  <div class="col  l2 m2 s3">
                    <form class="" action="/post/likePost/<%= post._id %>?_method=PUT" method="POST">
                      <button class="btn" type="submit">  <i class="small material-icons">favorite</i></button>                
                    </form>
                  </div>
                <% } %>

               
 
                <%if(post.user == user.id){ %>
                  <div class="col l2 m2 s3">
                    <form action="/post/deletePost/<%= post._id %>?_method=DELETE" method="POST" class="">
                      <button class="btn" type="submit"><i class="small material-icons">delete</i></button>
                    </form>
                  </div>
                  <div class="col l2 m2 s3">
                    <button type="" class="btn"><a href="/post/edit/<%= post._id %>" style="margin-right:0%;"><i class="small material-icons">create</i></a></button>
                  </div>
            
                <%}%>
              <% } %>

            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= post.recipeName %> <i class="material-icons right">close</i></span>
            
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#detailsSmall">Details</a></li>
                <li class="tab"><a href="#ingredientsSmall">Ingredients</a></li>
                <li class="tab"><a href="#directionsSmall">Directions</a></li>
              </ul>
            </div>



            <div id="detailsSmall">
              <h4 class="flow-text">Created By: <%= post.userName %> </h4>
              <h4 class="flow-text">Likes: <%= post.likes %> </h4>
              <h4 class="flow-text">Tag: <%= post.recipeCategory %> </h4>
              <h4 class="flow-text">Description: <%= post.description %> </h4>
              <!-- <h4 class="flow-text">Rating: </h4> -->
            </div>
            <div id="ingredientsSmall">
              <ul class="padding-shift">
                <%for (let i = 0; i < post.recipeIngredients.length; i++) { %>   
                  <li class="ingredient-list"><h6><%=post.recipeIngredients[i]%></h6></li>
                <% } %> 
              </ul>
            </div>
            <div id="directionsSmall">
              <ol>
                <% for( let i = 0; i < post.recipeDirections.length; i++ ) { %>
                  <li><h6><%= post.recipeDirections[i] %></h6> </li>
                <% } %>
              </ol>
            </div>  
          </div>
        </div>
                  
      </div>
    </section>
  </main>

<%- include("partials/footer") %> 



