<%- include("partials/header") %> 
<% if(user.id) {%> 

    <main>
        <div class="container">
            <% if (posts.length == 0) { %>
                <section class="user_header">
                    <div class="">
                        <div class="col">
                            <h3 class="flow-text">Welcome Back <%=user.userName%> </h3> 
                        
                            <span><a href="/logout"><i class="class small material-icons">exit_to_app</i></a>     <a href="/post/createpost">
                                <i class="small material-icons valign-wrapper">add</i>
                             </a> </span>
                        </div>
                        <div class="large-container center">
                            <h5>No Post Here. Only Squirrels. Click the + button to create a post.</h5>
                            <img class="responsive-img" src="../img/squirrel.jpg" alt="">
                        </div>
                    </div>
                </section>
             
            <% } else { %> 
            <section class="user_header">
                <div class="">
                    <div class="">
                        <h4 class="">Welcome Back <%=user.userName%></h4>

                        <span><a href="/logout"><i class="class small material-icons">exit_to_app</i></a> <a href="/post/createpost">
                            <i class="small material-icons valign-wrapper">add</i>
                         </a> </span>
                    </div>
                </div>
                
            </section>
            <section class="popular_post">
                <div class="row hide-on-med-and-down">
                    <h5 class="">Most Popular Recipe: <%= posts[0].recipeName %> </h5>

                    <div class="card horizontal">
                        <div class="card-image">
                          <img class="responsive-img" loading="lazy"  src="<%=posts[0].image%> ">
                        </div>
                        <div class="card-stacked">
                          <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width">
                              <li class="tab"><a href="#details">Details</a></li>
                              <li class="tab"><a href="#ingredients">Ingredients</a></li>
                              <li class="tab"><a href="#directions">Directions</a></li>
                            </ul>
                          </div>
                          <div class="card-content grey lighten-4">
                            <div id="details">
                              <h4 class="flow-text">Likes: <%= posts[0].likes  %> </h4>
                              <br>
                              <h4 class="flow-text">Description: <%= posts[0].description  %> </h4>
                              <br>
                              <!-- <h4 class="flow-text">Rating: </h4> -->
                            </div>
                            <div id="ingredients">
                              <ul class="padding-shift">
                                <% for( let i = 0; i < posts[0].recipeIngredients.length; i++ ) { %>
                                    <li class="ingredient-list"><%= posts[0].recipeIngredients[i] %> </li>
                                <% } %>
                              </ul>
                            </div>
                            <div id="directions">
                              <ol>
                                <% for( let i = 0; i < posts[0].recipeDirections.length; i++ ) { %>
                                    <li class=""><%= posts[0].recipeDirections[i] %> </li>
                                <% } %>                            
                              </ol>
                            </div>
                          </div>
                          <!-- <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                          </div> -->
                          <div class="card-action"style="margin-bottom: 0%;">
                            <div class="col l1 m2 s2">
                                <form action="/post/deletePost/<%= posts[0].id %>?_method=DELETE" method="POST">
                                    <button class="btn" type="submit">  <i class="small material-icons valign-wrapper">delete</i></button>
                                </form>
                            </div>
                            <div class="col l1 m2 s2">
                                <button type="" class="btn"><a href="/post/edit/<%= posts[0].id %>" style="margin-right:0%;"><i class="small material-icons">create</i></a></button>
                            </div>
                            <!-- <a href="#">This is a link</a> -->
                          </div>
                        </div>    
                    </div>
                </div>


                <div class="col s12 m12 show-on-medium-and-down hide-on-large-only">
                    <h5>Most Popular Recipe: <%= posts[0].recipeName %> </h5>

                    <div class="card sticky-action medium">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" loading="lazy"  src="<%= posts[0].image %> ">
                      </div>
                      <div class="card-content">
                        <h5>
                          <%= posts[0].recipeName %>
                        </h5>
                        <div class="card-action row" style="margin-bottom: 0%;">
                
                              <div class="col l1 m2 s2">
                                <form action="/post/deletePost/<%= posts[0]._id %>?_method=DELETE" method="POST" class="">
                                  <button class="btn" type="submit"><i class="small material-icons">delete</i></button>
                                </form>
                              </div>
                              <div class="col l1 m2 s2">
                                <button type="" class="btn"><a href="/post/edit/<%= posts[0]._id %>" style="margin-right:0%;"><i class="small material-icons">create</i></a></button>
                              </div>
                        
                        </div>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= posts[0].recipeName %> <i class="material-icons right">close</i></span>
                        
                        <div class="card-tabs">
                          <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a href="#detailsSmall">Details</a></li>
                            <li class="tab"><a href="#ingredientsSmall">Ingredients</a></li>
                            <li class="tab"><a href="#directionsSmall">Directions</a></li>
                          </ul>
                        </div>
            
            
            
                        <div id="detailsSmall">
                          <h4 class="flow-text">Created By: <%= posts[0].userName %> </h4>
                          <h4 class="flow-text">Likes: <%= posts[0].likes %> </h4>
                          <h4 class="flow-text">Tag: <%= posts[0].recipeCategory %> </h4>
                          <h4 class="flow-text">Description: <%= posts[0].description %> </h4>
                          <!-- <h4 class="flow-text">Rating: </h4> -->
                        </div>
                        <div id="ingredientsSmall">
                          <ul class="padding-shift">
                            <%for (let i = 0; i < posts[0].recipeIngredients.length; i++) { %>   
                              <li class="ingredient-list"><h6><%=posts[0].recipeIngredients[i]%></h6></li>
                            <% } %> 
                          </ul>
                        </div>
                        <div id="directionsSmall">
                          <ol>
                            <% for( let i = 0; i < posts[0].recipeDirections.length; i++ ) { %>
                              <li><h6><%= posts[0].recipeDirections[i] %></h6> </li>
                            <% } %>
                          </ol>
                        </div>  
                      </div>
                    </div>
                              
                  </div>
            </section>
        
            <div class="divider"></div>

            <section>
                <div class="row">
                    <% for( let i = 1; i < posts.length; i++ ) { %>
                        <% if (i%2 !== 0) { %>
                          <div class="card small  col left l5 m5 s12">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="materialboxed responsive-img" loading="lazy" src="<%=posts[i].image%> " >
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4"><%=posts[i].recipeName%> <i class="material-icons right">more_vert</i></span>
                              <p><a href="/post/<%=posts[i]._id%> ">Click me to cook me!</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                              <p><%= posts[i].description %> </p>
                            </div>
                          </div>	  
                        <% } else {%>
                          <div class="card small sub col offset-l2 l5">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="materialboxed responsive-img" loading="lazy" src="<%=posts[i].image%> " >
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4"><%=posts[i].recipeName%> <i class="material-icons right">more_vert</i></span>
                              <p><a href="/post/<%=posts[i]._id%> ">Click me to cook me!</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                              <p><%=posts[i].description%> </p>
                            </div>
                          </div>
                        <% } %> 
                      <% } %>
                </div>
            </section>
            <% } %> 
        </div>  

        <span style="display: none;" id="accountPage"></span>

    </main>

<% } else { %>
  
    <main>
        <div class="container">
            <section class="user_header">
                <div class="row">
                    <div class="col s6">
                        <h1>Insert User Name</h1>
                    </div>
        
                </div>
                
            </section>
            <section class="popular_post">
        
                <div class="row">
                    <a href="">
                        <div class="col s6">
                            <h3>Highest Rated Recipe</h3>
                            <img src="https://via.placeholder.com/300" alt="most popular post by ratings">    
                        </div>
                        <br><br><br>
                        <div class="col s6">
                            <h4>
                                Title: 
                            </h4>
                            <h5>
                                Likes:
                            </h5>
                            <h5>
                                Rating:
                            </h5>
                            <h5>
                                Description:
                            </h5>
                            <h5>
                                Tags:
                            </h5>
                        </div>
                    </a>
                </div>
            </section>
        
            <section>
                <div>
                    insert rest of post based on how i render out the home feed.
                </div>
            </section>
        </div>  
    </main>



<% } %> 


<%- include("partials/footer") %> 
