<%- include("partials/header") %> 


<main class="">
    <section class="post-page main">
      <div class="container row">
        <h1></h1>
        <% for( let i = 0; i < posts.length; i++ ) { %>
          <% if (i%2 === 0) { %>
            <div class="card small col l5 s12">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="<%=posts[i].image%> " >
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%=posts[i].recipeName%> <i class="material-icons right">more_vert</i></span>
                <p><a href="/post/<%=posts[i]._id%> ">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                <p><%= posts[i].description %> </p>
              </div>
            </div>	  
          <% } else {%>
            <div class="card small sub col offset-l2 l5 s12">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="<%=posts[i].image%> " >
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%=posts[i].recipeName%> <i class="material-icons right">more_vert</i></span>
                <p><a href="/post/<%=posts[i]._id%> ">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                <p><%=posts[i].description%> </p>
              </div>
            </div>
          <% } %> 
        <% } %>

      </div>
    </section>
</main>

<%- include("partials/footer") %> 



